<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
  <test name="Test-Runner-1">
    <classes>
      <class name="com.vtiger.tc.Create_Contact"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="Test-Runner-2">
    <classes>
      <class name="com.vtiger.tc.CreateOrg"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
